[submodule "pack/tpope/start/vim-commentary"]
	path = pack/tpope/start/vim-commentary
	url = https://tpope.io/vim/commentary.git
[submodule "pack/tpope/start/vim-fugitive"]
	path = pack/tpope/start/vim-fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule "pack/nvim-lua/start/plenary.nvim"]
	path = pack/nvim-lua/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "pack/lewis6991/start/gitsigns.nvim"]
	path = pack/lewis6991/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "pack/nvim-treesitter/start/nvim-treesitter"]
	path = pack/nvim-treesitter/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/j-hui/start/fidget.nvim"]
	path = pack/j-hui/start/fidget.nvim
	url = https://github.com/j-hui/fidget.nvim
[submodule "pack/tpope/start/vim-surround"]
	path = pack/tpope/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/ibhagwan/start/fzf-lua"]
	path = pack/ibhagwan/start/fzf-lua
	url = https://github.com/ibhagwan/fzf-lua
[submodule "pack/vim-test/start/vim-test"]
	path = pack/vim-test/start/vim-test
	url = https://github.com/vim-test/vim-test
[submodule "pack/mfussenegger/start/nvim-dap"]
	path = pack/mfussenegger/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "pack/glacambre/start/firenvim"]
	path = pack/glacambre/start/firenvim
	url = https://github.com/glacambre/firenvim
[submodule "pack/airblade/start/vim-gitgutter"]
	path = pack/airblade/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/nvimtools/start/none-ls.nvim"]
	path = pack/nvimtools/start/none-ls.nvim
	url = https://github.com/nvimtools/none-ls.nvim
[submodule "pack/Saghen/start/blink.cmp"]
	path = pack/Saghen/start/blink.cmp
	url = https://github.com/Saghen/blink.cmp
